[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# WPF0060: Backing member for DependencyProperty should have standard documentation text.
dotnet_diagnostic.WPF0060.severity = none
# WPF0061: Accessor method for attached property should have standard documentation text.
dotnet_diagnostic.WPF0061.severity = none
# WPF0108: Backing member for RoutedEvent should have standard documentation text.
dotnet_diagnostic.WPF0108.severity = none


