<?xml version='1.0' encoding='utf-8' ?>
<configuration>
    <configSections>
        <sectionGroup name='userSettings' type='System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' >
            <section name='Shazzam.Properties.Settings' type='System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' allowExeDefinition='MachineToLocalUser' requirePermission='false' />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shazzam.Properties.Settings>
            <setting name="LastFxFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastImageFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderFX" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderImages" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectX_FxcPath" serializeAs="String">
                <value>%DXSDK_DIR%\Utilities\bin\x86\fxc.exe</value>
            </setting>
            <setting name="LastImageTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Colors" serializeAs="String">
                <value>Yellow,Green</value>
            </setting>
            <setting name="GeneratedNamespace" serializeAs="String">
                <value>Shazzam.Shaders</value>
            </setting>
            <setting name="IndentUsingTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndentSpaces" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TargetFramework" serializeAs="String">
                <value>WPF</value>
            </setting>
            <setting name="AnimationLengthDefault" serializeAs="String">
                <value>0.8</value>
            </setting>
        </Shazzam.Properties.Settings>
    </userSettings>
</configuration>